body {
    padding: 0;
    margin: 0;
}

.main {
    padding: 1em;
}

.input {
    width: 10em;
}

.input-container {
    display: inline;
    margin-right: 1em;
}

.label {
    color: var(--el-text-color-regular);
}

.margin-top {
    margin-top: 1em;
}

textarea {
    outline: none;
    border: 0;
}

.el-textarea {
    --el-input-border: 0;
    --el-input-hover-border: white;
    --el-input-focus-border: white;
    --el-input-transparent-border: 0;
    --el-input-border-color: white;
    --el-input-border-radius: 0;
    --el-input-hover-border-color: white;
    --el-input-focus-border-color: white;
}

.message-container {
    margin-top: 0.5em;
    border: 1px solid var(--el-border-color);
    border-radius: 4px;
}

.message-list {
    height: 19em;
}

.message-input {
    height: 10em;
    box-sizing: border-box;
    border-top: 1px solid var(--el-border-color);
}

.message-footer {
    border-top: 1px solid var(--el-border-color);
    padding: 0.75em;
    text-align: right;
}

.message-list-content {
    padding: 1em;
}

.avatar {
    width: 3em;
    height: 3em;
}

.message + .message {
    margin-top: 1em;
}

.message .content img {
    vertical-align: bottom;
}

.online-container {
    display: inline-block;
    vertical-align: bottom;
}

.message-image {
    max-width: 20em;
    max-height: 15em;
}

.message-part {
    display: inline-block;
    text-align: left;
    word-break: break-word;
}

.online-user {
    position: relative;
    bottom: 0.07em;
}
